<div class="app-form">
    <h1 style="text-align: {{ block.settings.alignment }}">{{ block.settings.form_title }}</h1>

        <form type="app-form">
            <div class="username">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">

        </div>
        <div class="email">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">

        </div>
        <input type="submit" value="Register">
    </form>
</div>


{% schema %}
    {
        "name": "App Registration Form", 
        "target": "section",
        "class": "app-dashboard",
        "stylesheet": "app-form.css",
        "javascript": "app-form.js",
        "settings": [
            {
                "type": "text",
                "id": "form_title", 
                "label": "Form Title",
                "info": "Enter the name of the app",
                "default": "Form Title"

            }, 
            {
                "type": "text_alignment",
                "id": "alignment",
                "label": "Form Alignment",
                "info": "Select the alignment of the form",
                "default": "left"
}
           
        ] 
    }
{% endschema %}